body {
    background: linear-gradient(#4158D0, #80D0C7);
    background-attachment: fixed;
    height: 100%;
    
}


.todoListBox {
    margin: 15px auto;
    margin-top: 50px;
    padding-top: 10px;
    background-color: white;
    height: 600px;
    width: 485px;
    border-radius: 25px;
    box-shadow: 5px 5px 100px 5px darkblue;
}

.todo-List {
    display: flex;
}

.addButton {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px 20px 5px;
    border: 1px solid black;
    background-color: pink;
    border-radius: 25px 300px;
}

.todoInput {
    border-radius:  100px 5px;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 20px 5px;
    border: 1px solid black;
    color: darkorange;
    font-weight: 500;

}

.todoBox {
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    font-weight: 300;
    color:orangered;

}

.remove-btn {
    padding: 1px 7px 1px;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 1px solid lime;
    background-color: limegreen;
    border-radius: 100px 5px;
    rotate: 10deg;
}









/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
