body {
    background: linear-gradient(#4158D0, #80D0C7);
    background-attachment: fixed;
    height: 100%;
    
}


.todoListBox {
    display: flexbox;
    margin: 15px auto;
    margin-top: 50px;
    padding-top: 10px;
    background-color: floralwhite;
    height: fit-content;
    min-width: 100px;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 5px 5px 100px 5px darkblue;
}

.todo-List {
    display: flex;
}


.addButton {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px 20px 5px;
    border: 1px solid blue;
    background-color: black;
    border-radius: 25px 300px;
}

.todoInput {
    border-radius:  100px 5px;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 20px 5px;
    border: 1px solid black;
    color: black;
    font-weight: 500;

}

.todoBox {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    font-weight: 500;
    color: darkcyan;

}

li {
    margin-top: 10px;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    border-bottom: 2px solid red;

}

.remove-btn {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    border: none;
    color: orangered;
    background-color: transparent;
    font-size: 25px;
    rotate: 315deg;
}


span {
    color: red;
}






/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
